@model IEnumerable<BurgerKing.Models.Table_Recuritment>

@{
    ViewBag.Title = "Jobs";
}

<h2>All Jobs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Post)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Post)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfPost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
       
    </tr>
}

</table>
