@model IEnumerable<BurgerKing.Models.Table_Recuritment>

@{
    ViewBag.Title = "ViewJobs";
}

<h2>View Jobs</h2>

<p>
    @Html.ActionLink("New Job ", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Post)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>Modify</th>
        <th>Delete</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Post)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfPost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |</td>
        <td>
            
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
